.container {
    font-family: 'TTLakesRegular';
    height: 130px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 15px;
    opacity: 0.5;
    @media (min-width: 768px) {
        flex-direction: row;
         justify-content: space-evenly;
         height: 81px;
    }  
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: aqua;
        top: 0;
    }
    &__three {
        display: inline;
        text-align: center;
        text-wrap-style: balance;
        flex-basis: 30%;
    }
}